body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease;
  z-index: 1000;
  box-sizing: border-box;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  width: 100%;
  box-sizing: border-box;
  transition: opacity 0.5s ease;
  transition: transform 0.3s ease;
  transform: translateY(0); /* Initially position the navbar at the top */
  transition: transform 0.3s ease, background-color 0.3s ease; /* Add transition effect for sliding and background color */
}

.navbar-wrapper.hidden {
  transform: translateY(-100%); /* Translate the navbar off the screen */
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left .logo {
  height: 40px;
  margin-right: 10px;
}

.nav-left .business-name {
  font-size: 24px;
  color: white;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: nowrap;
}

.nav-right a {
  color: white;
  text-decoration: none;
}

.nav-mobile {
  display: none;
  color: white;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
}

@keyframes fadeIn {
  from {
      opacity: 0; /* Start with opacity 0 */
  }
  to {
      opacity: 1; /* Fade in to opacity 1 */
  }
}

.mobile-menu {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  text-align: left;
  padding: 20px;
  box-sizing: border-box;
  animation: fadeIn .5s ease; /* Apply fade-in animation with a duration of 3 seconds */
  z-index: 1002; /* Ensure mobile menu is above the navbar wrapper */
  justify-content: center;
  opacity: 0; /* Initially hide the mobile menu */
}




.mobile-menu .menu-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
}

.mobile-menu a {
  padding: 20px 0;
  color: white;
  text-decoration: none;
  font-size: 40px; /* Increase font size */
}

.mobile-menu a.active {
  text-decoration: underline;
}

/* Define CSS animation for sliding in */
@keyframes slideIn {
  from {
      transform: translateX(-100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

/* Apply animation to mobile nav links */
.mobile-nav-link {
  animation: slideIn 0.5s forwards; /* Animation duration and fill mode */
  animation-delay: 0.2s; /* Delay for each link */
  opacity: 0; /* Start with opacity 0 */
}

@media only screen and (max-width: 768px) {
  .nav-right {
      display: none;
  }
  .nav-mobile {
      display: flex;
  }
}

.navbar-hidden {
  opacity: 0;
}

.navbar-wrapper-hidden {
  opacity: 0;
}


.menu-visible {
  display: flex;
  opacity: 1;
}

.scrolled {
  background-color: black;
}


/* ----------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------
------------------------------------------------------------------------------------- */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
#myImage {
  height: 405px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.image {
  margin: auto;
  display: block;
  width: 100%; /* Updated width to fill the screen */
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 25px;
}

.modal-content {
  max-width: 100%;
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/* ----------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------
------------------------------------------------------------------------------------- */
.button-container {
  text-align: center;
  margin-top: 20px; /* Adjust as needed */
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-image: linear-gradient(to bottom, #00ff37e3, #00ff0d);
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%; /* Adjust as needed */
  height: 300%; /* Adjust as needed */
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: all 0.5s ease;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.button:hover::before {
  width: 150%;
  height: 150%;
}

.button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  transition: all 0.3s ease;
  z-index: -1;
}

.button:hover::after {
  background: rgba(255, 255, 255, 0);
}

.button:active {
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
}


/* ----------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------
------------------------------------------------------------------------------------- */

.digital-hero { 
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.55), 
      rgba(0, 0, 0, 0.55)
    ),
    /* bottom, image */
    url(../img/Good_Food_Display_-_NCI_Visuals_Online.jpg);

    display: flex;
    align-items: center;
    justify-content: center;
    color: #ab7626;
    text-shadow: 1px 1px 1px #000;
    min-height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0px;
    padding: 15rem;
    text-align: center; /* Center-align text */
}
  
.digital-hero p {
  margin: 0; /* Remove default margin for <p> */
}

.site-wrapper{
  margin: 24px;
  border: 1px solid rgb(255, 255, 255);
  overflow: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add box shadow */
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff);
  color: #4b0000e3;
  text-shadow: 2px 2px 4px #000000;
  margin: 0;
  height: 100%;
  font-family: "Quasimoda", "ivyora-text", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  letter-spacing: -0.01em;
  line-height: 1.5em;
}

.site-header-wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 80px 8.474576271%; 
  background:white; /* Apply a gradient background */
}

.box {
  display: flex;
  justify-content: center; /* Center the container horizontally */
  align-items: center; /* Center the container vertically */
  padding:

}

.section-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr)); /* Three columns with equal width */
  gap: 10px; /* Reduce the gap between grid items */
  justify-content: center; /* Center the grid horizontally */
  padding-right: 15rem;
  padding-left: 15rem;
  background:white; /* Apply a gradient background */
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; /* Align items to the left */
  padding: 20px;
  padding-top: 75px;
  padding-bottom: 75px;
}

.section img {
  width: 100%; /* Make all images the same width */
  height: auto; /* Maintain aspect ratio */
}

.section h2 {
  margin-top: 10px;
  margin-bottom: 5px; /* Adjust space between heading and paragraph */
  text-align: left; /* Align heading to the left */
}

.section p {
  margin: 0; /* Reset margin to remove default spacing */
  text-align: left; /* Align heading to the left */
}

/* Additional CSS to adjust spacing between sections */
.section-container > :first-child {
  margin-right: auto; /* Push first child to the left */
}

.section-container > :last-child {
  margin-left: auto; /* Push last child to the right */
}

.section-info {
  margin: 0 auto;
  width: 49.01129944%;
   
}

.section-main {
  margin: 0 auto; /* Center the element horizontally */
  color: #ab7626;
  text-align: center; /* Center the text within the element */
  width: 100%; /* Set width to 100% to ensure it occupies the full width of its container */
}

/* CSS for sliding effects on mobile screens (480px or lower) */
@media only screen and (max-width: 480px) {
  .slide-in-left {
    opacity: 0;
    transform: translateX(-50%);
    transition: all .7s ease-out;
  }

  .slide-in-right {
    opacity: 0;
    transform: translateX(50%);
    transition: all .7s ease-out;
  }

  .slide-in-left.visible {
    opacity: 1;
    transform: translateX(0);
  }

  .slide-in-right.visible {
    opacity: 1;
    transform: translateX(0);
  }

  .fade {
    opacity: 0;
    transition: opacity .7s ease-out;
  }

  .fade.visible {
    opacity: 1;
  }
}

/* Ensure the fade-in effect for larger screens is still applied */
@media only screen and (min-width: 481px) {
  .fade-in {
    opacity: 0;
    transition: opacity 1s ease-out;
  }

  .fade-in.visible {
    opacity: 1;
  }
}



.container {
  position: relative;
  width: 100%;
  height: auto; /* Or set a specific height */
  margin-bottom: 20px; /* Add space between containers */
}

.container .text-overlay {
  top: 0;
  left: 0;
  height: 100%; /* Adjust the height as needed */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0); /* Text color */
  padding: 150px;
  margin: -20px auto;
}

.container.container1 .text-overlay {
  background-image: url('../img/Screen-Shot-2022-01-21-at-7.13.39-AM-1024x683.png');
}

.container.container2 .text-overlay {
  background-image: url('../img/pexels-chanwalrus-958545.jpg');
}

.container.container3 .text-overlay {
  background-image: url('../img/Good_Food_Display_-_NCI_Visuals_Online.jpg');
}

.wrapper {
  background-color: lightgray; /* Set background color for the wrapper */
  padding: 1px; /* Set padding for all sides of the wrapper */
}

.footer {
  background-color: black; /* Set background color for the footer */
  color: white; /* Set text color for the footer */
  padding: 20px; /* Add padding to the footer */
  height: 100px;
}

/* ------------------------------------------------------------------------
---------------------------------------------------------------------
------------------------------------------------------------------- */
/* Media query for screens under 480px */
@media only screen and (max-width: 480px) {
  .section-container {
    grid-template-columns: repeat(1, 1fr); /* Change to one column */
    padding-left: 0;
    padding-right: 0;
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .section {
    text-align: center; /* Center text for better readability on small screens */
    padding: 20px;
  }

  .section img {
    max-width: 100%; /* Ensure images occupy full width on small screens */
    height: auto; /* Maintain aspect ratio */
  }

  .box {
    max-width: 100%; /* Ensure .box fills the screen width */
  }

  .modal {
    background-color: rgba(0, 0, 0, 0.9);
  }

  .modal-content {
    max-width: 100%; /* Ensure modal content fills the screen width */
    background-color: transparent; /* Set modal content background to transparent */
  }

  .container.container2, .container.container1, .container.container3{
    max-width: 100%; /* Ensure container fills the screen width */
    margin: 0 auto; /* Center container horizontally */
    padding: 0 0px; /* Add padding to the sides */
    padding-top: 20px;
    padding-bottom: 20px;
    height:400px;
  }

  .container.container2 .text-overlay, .container.container1 .text-overlay, .container.container3 .text-overlay {
    padding: 20px; /* Adjust padding for better readability */
  }

  .container.container2, .container.container1, .container.container3 h1,
  .container.container2, .container.container1, .container.container3 p {
    text-align: center; /* Center text on small screens */
  }

  .digital-hero {
    padding: 8rem 1rem; /* Adjust padding for better display on mobile screens */
    min-height: auto; /* Remove minimum height */
    height: 200px;
  }
}

